exportPattern("^[[:alpha:]]+")
  #import("MASS")
  importFrom("graphics", "axTicks", "grid", "lines", "plot", "points")
  importFrom("stats", "cmdscale", "dist", "dnorm", "sd")
  importFrom("utils", "data")
  importFrom("methods", "is")
  #importFrom("FastKNN", "k.nearest.neighbors")
  importFrom("DataVisualizations", "ParetoDensityEstimation","ParetoRadius")
  useDynLib(Distances)
exportPattern("^[[:alpha:]]+")
#importFrom('vegan', vegdist)
#importFrom('sphet', distance)
#importFrom('lsa', cosine)
#importFrom('pracma', squareform)
import(Rcpp)
import(RcppArmadillo)
importFrom("stats", "cov", "dist","as.dist", "cor")